In [3]:
!pip install pysus
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pysus
  Downloading PySUS-0.6.0.tar.gz (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 30.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting pandas==1.4.2
  Downloading pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 61.9 MB/s eta 0:00:00
Collecting pandasql==0.7.3
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from pysus) (1.15.1)
Collecting dbfread==2.0.7
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from pysus) (1.7.3)
Collecting requests==2.27.1
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.1/63.1 KB 8.5 MB/s eta 0:00:00
Collecting fastparquet==0.8.1
  Downloading fastparquet-0.8.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 72.2 MB/s eta 0:00:00
Requirement already satisfied: dask in /usr/local/lib/python3.8/dist-packages (from pysus) (2022.2.1)
Collecting wget==3.2
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Collecting elasticsearch==7.16.2
  Downloading elasticsearch-7.16.2-py2.py3-none-any.whl (385 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 385.7/385.7 KB 36.0 MB/s eta 0:00:00
Collecting pyarrow==7.0.0
  Downloading pyarrow-7.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.7/26.7 MB 11.7 MB/s eta 0:00:00
Collecting tqdm==4.64.0
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.4/78.4 KB 10.6 MB/s eta 0:00:00
Requirement already satisfied: urllib3<2,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from elasticsearch==7.16.2->pysus) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from elasticsearch==7.16.2->pysus) (2022.12.7)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.8/dist-packages (from fastparquet==0.8.1->pysus) (1.22.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.8/dist-packages (from fastparquet==0.8.1->pysus) (2023.1.0)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.6.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 76.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.4.2->pysus) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.4.2->pysus) (2022.7.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (from pandasql==0.7.3->pysus) (1.4.46)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests==2.27.1->pysus) (2.10)
Collecting charset-normalizer~=2.0.0
  Downloading charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.0.0->pysus) (2.21)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask->pysus) (2.2.1)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.8/dist-packages (from dask->pysus) (6.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask->pysus) (0.12.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask->pysus) (1.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from dask->pysus) (23.0)
Requirement already satisfied: locket in /usr/local/lib/python3.8/dist-packages (from partd>=0.3.10->dask->pysus) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas==1.4.2->pysus) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy->pandasql==0.7.3->pysus) (2.0.2)
Building wheels for collected packages: pysus, pandasql, wget
  Building wheel for pysus (setup.py) ... done
  Created wheel for pysus: filename=PySUS-0.6.0-cp38-cp38-linux_x86_64.whl size=1443078 sha256=ac43c225cadcc6e9ede9d15262b2c8f6ebe12d531048bf408999a1620be0b0b2
  Stored in directory: /root/.cache/pip/wheels/6a/91/14/0df46b481a82ab3041ffc532b78390a1b0281cb010d0a42238
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26787 sha256=254446b757e79cf951dbf2c01b44c058e00ac16342bee74f575886cffcef6d87
  Stored in directory: /root/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9674 sha256=3d4e351e4315d49da7ed1499bb7fb5626378217a25a1460a34a5311a9daac573
  Stored in directory: /root/.cache/pip/wheels/bd/a8/c3/3cf2c14a1837a4e04bd98631724e81f33f462d86a1d895fae0
Successfully built pysus pandasql wget
Installing collected packages: wget, dbfread, tqdm, pyarrow, elasticsearch, cramjam, charset-normalizer, requests, pandas, pandasql, fastparquet, pysus
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.64.1
    Uninstalling tqdm-4.64.1:
      Successfully uninstalled tqdm-4.64.1
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 9.0.0
    Uninstalling pyarrow-9.0.0:
      Successfully uninstalled pyarrow-9.0.0
  Attempting uninstall: charset-normalizer
    Found existing installation: charset-normalizer 3.0.1
    Uninstalling charset-normalizer-3.0.1:
      Successfully uninstalled charset-normalizer-3.0.1
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed charset-normalizer-2.0.12 cramjam-2.6.2 dbfread-2.0.7 elasticsearch-7.16.2 fastparquet-0.8.1 pandas-1.4.2 pandasql-0.7.3 pyarrow-7.0.0 pysus-0.6.0 requests-2.27.1 tqdm-4.64.0 wget-3.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.8/dist-packages (0.12.2)
Requirement already satisfied: pyproj>=2.6.1.post1 in /usr/local/lib/python3.8/dist-packages (from geopandas) (3.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from geopandas) (23.0)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.8/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.4.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.9.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: munch>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.15.0)

In [5]:
from pysus.online_data.SIH import download

In [13]:
estado = 'ES'
ano = 2018
banco = download(state = estado, year = ano, month=1)
print('Banco de ' + str(ano) + ' de ' + str(estado) + ' baixado! ')

Banco de 2018 de ES baixado!

In [14]:
import pandas as pd
banco

        UF_ZI ANO_CMPT MES_CMPT ESPEC  ... TPDISEC6 TPDISEC7 TPDISEC8 TPDISEC9
0      320000     2018       01    03  ...        0        0        0        0
1      320000     2018       01    01  ...        0        0        0        0
2      320000     2018       01    01  ...        0        0        0        0
3      320000     2018       01    01  ...        0        0        0        0
4      320000     2018       01    01  ...        0        0        0        0
...       ...      ...      ...   ...  ...      ...      ...      ...      ...
21171  320520     2018       01    03  ...        0        0        0        0
21172  320520     2018       01    03  ...        0        0        0        0
21173  320520     2018       01    07  ...        0        0        0        0
21174  320520     2018       01    02  ...        0        0        0        0
21175  320520     2018       01    02  ...        0        0        0        0

[21176 rows x 113 columns]

In [16]:
banco.to_csv('sih_2018_janeiro.csv')